@import 'tailwindcss';

@theme {
  --color-discord-green-500: #53ac66;
  --color-discord-purple-500: #5865f3;
  --color-discord-purple-700: #4654c0;

  --color-background: #1a1a1e;
  --color-card-top: #242429;
  --color-card-bottom: #28282d;
  --color-sidebar: #121214;
  --color-hover: #27272a;
  --color-border: #3f3f46;

  --font-sans: 'gg sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --animate-bounce-slow: bounce 2s infinite;
  --animate-fade-in: fadeIn 2s ease-in-out forwards;
  --animate-pulse-red: pulseRed 1s infinite;
  --animate-twinkle: twinkle 1s infinite;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes pulseRed {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes twinkle {
    0%,
    100% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
  }
}

body {
  @apply bg-background text-white font-sans min-h-screen antialiased;
}
